<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <strong>Wikimedians of Kerala</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>